accelerate
chardet
datasets>=2.12.0
fastapi
hjson
ninja
numpy
openai
optimum>=1.17.1
packaging>=20.0
pre-commit
py-cpuinfo
pyarrow
pydantic
scipy
sentencepiece
sphinx
torch>=2.1.1
transformers>=4.37.1
uvicorn
